@media screen and (max-width: 768px) {
	.testdiv-wrapper img {
		position: static;
	}
	.takeielts-div h2 {
		font-size: 40px;
	}
	.navbar-brand,
	.navbar a,
	.consider-wrapper h6,
	.consider-wrapper p,
	.testimonial-div p.location {
		font-size: 14px;
	}
	.takeielts-div p,
	.testimonial-div p {
		font-size: 20px;
	}
	.btn.btn-info.btn-watch,
	.btn.btn-info.btn-taketest {
		font-size: 23px;
	}
	.consider-wrapper h4,
	#howitworks h4, 
	.marking-wrapper p, 
	#testimonial-wrapper h4 {
    	font-size: 30px;
	}
	.testimonial-text {
	    margin-top: 10px;
	}
}

@media screen and (min-width: 770px) and (max-width: 1000px) {
	.testdiv-wrapper img {
		position: static;
		margin-top: 20px;
	}
	.takeielts-div h2 {
		font-size: 45px;
	}
	.navbar-brand,
	.navbar a,
	.consider-wrapper h6,
	.consider-wrapper p {
		font-size: 14px;
	}
	.takeielts-div p {
		font-size: 22px;
	}
	.btn.btn-info.btn-watch,
	.btn.btn-info.btn-taketest {
		font-size: 26px;
	}
	.consider-wrapper h4,
	#howitworks h4, 
	.marking-wrapper p, 
	#testimonial-wrapper h4 {
    	font-size: 35px;
	}
	.testimonial-text {
    	margin-left: 0;
	}
}

@media screen and (max-width: 1000px) {
	.testimonial-div h6 {
	    font-size: 25px;
	}
	.btn.btn-info.btn-marker.getstarted {
		font-size: 14px;
	}
	.marking-wrapper h2 {
		font-size: 40px;
	}
	#howitworks h6, .marking-wrapper p {
		font-size: 14px;
	}
}